<template>
  <component :is="layout" :class="{ dark: theme.dark }" class="bg-background" @theme="switchTheme">
    <router-view />
  </component>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRoute } from 'vue-router';

import useDarkTheme from "./composables/useDarkTheme"

const route = useRoute();

const defaultLayout = 'default';
const layout = computed(() => `${route.meta?.layout || defaultLayout}-layout`);

const { theme, switchTheme } = useDarkTheme()
</script>

<style scoped></style>
