<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps<{ photos: string[] }>();
let i = ref(0);

const previous = () => {
  i.value = i.value - 1 !== -1 ? i.value - 1 : props.photos.length - 1;
};

const next = () => {
  i.value = i.value + 1 !== props.photos.length ? i.value + 1 : 0;
};
</script>

<template>
  <div class="w-full overflow-hidden">
    <div class="relative">
      <img
        v-for="[j, url] of photos.entries()"
        :key="j"
        :src="url"
        class="w-full rounded max-h-96 object-contain"
        :class="i !== j ? 'hidden' : ''"
      >
      <button
        type="button"
        class="absolute top-0 left-0 z-30 flex bg-transparent items-center justify-center h-full px-4 cursor-pointer outline-none border-none"
        @click="previous"
      >
        <span
          class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 hover:bg-white/40"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 right-0 z-30 flex bg-transparent items-center justify-center h-full px-4 cursor-pointer outline-none border-none"
        @click="next"
      >
        <span
          class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 hover:bg-white/40"
        >
          <svg
            aria-hidden="true"
            class="w-6 h-6 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
      <div class="absolute bottom-4 w-full h-4 flex justify-center">
        <div
          v-for="j of photos.keys()"
          :key="j"
          class="i-tabler-circle text-lg text-primary hover:cursor-pointer"
          :class="i === j ? 'i-tabler-circle-filled' : ''"
          @click="i = j"
        />
      </div>
    </div>
  </div>
</template>
