<script setup lang="ts">
import { ref } from 'vue';
import { Sheet } from '@scrapart/models';

import { usePriceFormatter } from '../composables/usePriceFormatter';
import { useSheetsStore } from '../store/sheets';
import Carousel from './Carousel.vue';

const props = defineProps<{ sheet: Sheet }>();
const store = useSheetsStore();

const showDescription = ref(false);
const descriptionLabel = ref('Plus');

const toggleDescription = () => {
  showDescription.value = !showDescription.value;
  descriptionLabel.value = showDescription.value ? 'Moins' : 'Plus';
};

const removeSheet = () => {
  store.removeSheet(props.sheet.id ?? '');
};

const formattedPrice = usePriceFormatter();
</script>

<template>
  <div
    class="bg-container transition hover:brightness-102 shadow-lg rounded ring ring-border hover:shadow-xl dark-ring-none underline-none"
  >
    <div class="flex justify-between">
      <a
        :href="sheet.url"
        class="my-1 mx-2 block font-medium text-text dark:text-primary hover:cursor-pointer"
      >
        {{ sheet.title }}
      </a>
      <div
        class="i-tabler-trash text-2xl text-primary shrink-0 py-1 mr-1 hover:cursor-pointer"
        @click="removeSheet"
      />
    </div>
    <Carousel :photos="sheet.photos" />
    <div class="mb-1 flex items-center">
      <span class="text-2xl px-2 font-bold bg-primary text-container rounded-r">
        {{ formattedPrice(sheet.fullPrice) }}
      </span>
      <span
        class="mx-2 text-sm text-text font-medium underline underline-offset-2 decoration-1.5"
      >
        +{{ formattedPrice(sheet.annualCharges) }}/an
      </span>
    </div>
    <div class="px-3">
      <div class="text-text/60">
        {{ sheet.districts.join(' - ') }}
      </div>
      <p
        :class="{
          block: showDescription,
          hidden: !showDescription,
          'h-16': !showDescription,
        }"
        class="sm:text-sm text-text sm:block overflow-y-hidden my-1"
      >
        {{ sheet.description }}
      </p>
    </div>
    <a
      class="flex px-3 justify-self-center text-primary font-md hover:cursor-pointer"
      :class="{
        hidden: !showDescription,
      }"
      @click="toggleDescription"
    >
      {{ descriptionLabel }}
    </a>
  </div>
</template>
