<script setup lang="ts">
import { defineProps } from 'vue';

import { useSheetsStore } from '../store/sheets';
import SheetCard from './SheetCard.vue';
import SkeletonCard from './SkeletonCard.vue';

const props = defineProps({
  isLoading: Boolean
})

const store = useSheetsStore();
</script>

<template>
  <div class="flex flex-wrap justify-center">
    <div
      v-if="isLoading"
      class="flex flex-wrap"
    >
      <SkeletonCard
        v-for="i in Array(6)"
        :key="i"
        class="m-2 h-96 w-96 grow animate-pulse"
      />
    </div>
    <SheetCard
      v-for="sheet in store.sheets"
      :key="sheet.url"
      :sheet="sheet"
      class="m-2 w-96 grow max-w-128"
    />
  </div>
</template>

<style scoped></style>
