<script setup lang="ts">
const emit = defineEmits(['theme']);
const switchTheme = () => {
  emit('theme')
}
</script>

<template>
  <div
    class="bg-primary text-white dark:bg-background dark:shadow-2xl dark:shadow-black/60 dark:text-text flex justify-between h-10 w-full items-center"
  >
    <h2 class="px-6 m-0 dark:text-primary">
      Scrapart
    </h2>
    <button
      class="i-tabler-moon text-3xl mr-2 dark:i-tabler-sun hover:cursor-pointer dark:text-primary"
      @click="switchTheme"
    />
  </div>
</template>

<style scoped></style>
