<script setup lang="ts">
import { ref } from 'vue';
import SheetsList from '../components/SheetsList.vue';
import { onScrollEnd } from '../composables/useOnScrollEnd';
import { useSheetsStore } from '../store/sheets';

const currentPage = ref(1);
const pageCount = 6;
const store = useSheetsStore();

const { isLoading, error } = store.fetchSheets(currentPage.value, pageCount);

const fetchNextPage = async () => {
  // currentPage.value += 1;
  store.fetchSheets(++currentPage.value, pageCount)
}

const onScroll = (e: UIEvent) =>
  onScrollEnd(e, async () => {
    console.log('Fetching next page');
    fetchNextPage()
  });
</script>

<template>
  <div
    class="container mx-auto h-full overflow-y-scroll"
    @scroll="onScroll"
  >
    <SheetsList :is-loading="isLoading" />
  </div>
</template>

<style scoped></style>
