<script setup lang="ts">
import TheHeader from '../components/TheHeader.vue';
</script>

<template>
  <div class="w-full min-h-screen max-h-screen grow flex flex-col">
    <TheHeader
      class="grow-0"
      @theme="$emit('theme')"
    />
    <slot />
  </div>
</template>
